<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.bxbxbai.zhuanlan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:name=".ZhuanlanApplication"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:allowBackup="true"
            android:theme="@style/AppTheme">
        <!--label 属性定义当前APP的标题栏文字-->
        <!--screenOrientation 具有两个常用属性
            landscape 设置为横向
            portrait 设置为纵向

            AppTheme.FullScreen 设置全屏

           configChanges 屏幕方向和键盘隐藏的变化不会导致activity的重新建立，
            在这种情况下，只会执行onConfigurationChanged方法
            默认情况下回销毁当前activity，然后从onCreate重新建立activity

         -->

        <activity
                android:name=".ui.SplashActivity"
                android:alwaysRetainTaskState="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.FullScreen"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
            alwaysRetainTaskState 保持任务栈的状态，在变为后台应用后，保持task不被清空
            相关属性不是很清楚
        -->
        <activity
                android:name=".ui.MainActivity"
                android:alwaysRetainTaskState="true"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

      <activity
                android:name=".ui.SearchActivity"
                android:alwaysRetainTaskState="true"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
                android:name=".ui.WebActivity"
                android:label="@string/title_activity_about">
            <intent-filter>
                <action android:name="com.bxbxbai.zhuanlan.ui.activity.AboutActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.StoryActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Toolbar.WhiteBackground"
                  android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.PostListActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.AllPeopleActivity"
                  android:launchMode="singleTask"
                  android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.RecentPostListActivity"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
